.grid {
  background-color: #212121;
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 200px;
}

.grid div {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid #212121; /*484848*/
}

.grid div.final {
  background-color: #484848;
  border: none;
}

.blue {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(7,121,222,1) 0%, rgba(20,72,140,1) 90% );
}

.red {
  background-image: radial-gradient( circle farthest-corner at 3.1% 6.8%,  rgba(199,0,59,1) 0%, rgba(255,88,53,1) 97.7% );
}

.green {
  background-image: radial-gradient( circle farthest-corner at -1% 57.5%,  rgba(19,170,82,1) 0%, rgba(0,102,43,1) 90% );
}

.yellow {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,176,64,1) 0%, rgba(251,223,64,1) 90% );
}

.cyan {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );
}
